{% extends 'base.html' %}
{% block content %}

<h1 class="has-text-centered">Toy Details</h1>

<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content has-text-centered">
        <h4 class="card-header-title is-centered">{{ toy.name }}</h4>
        <label class="label has-text-centered">Color: </label>
        <p class="has-text-centered"><span style="color: {{ toy.color }}">{{ toy.color }}</span></p>
      </div>
      <footer class="card-footer">
        <a href="{% url 'toys_update' toy.id %}" class="card-footer-item">Edit</a>
        <a href="{% url 'toys_delete' toy.id %}" class="card-footer-item">Delete</a>
      </footer>
    </div>
  </div>
  <div class="column">
  </div>
</div>
{% endblock %}