{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1 class="has-text-centered">Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1 class="has-text-centered">Add Toy</h1>
  {% endif %}

<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <!-- Leaving the action empty makes the form post to the same url used to display it -->
    <form class="has-text-centered" action="" method="post">
      <!-- Django requires the following for security purposes -->
      {% csrf_token %}
      <table>
        <!-- Render the inputs inside of <tr>s & <td>s -->
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit!" class="button is-success">
    </form>
  </div>
  <div class="column">
  </div>
</div>
<script>
  let dateEl = document.getElementById('id_name')
  dateEl.className = "input has-text-centered"
  dateEl = document.getElementById('id_color')
  dateEl.className = "input has-text-centered"

  document.querySelector('label[for="id_name"]').className = "label";
  document.querySelector('label[for="id_color"]').className = "label";
</script>
{% endblock %}
